*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-color: tan;
justify-content: center;
align-content: center;

}
.main{
width: 300px;
height: 300px;
background-color:brown;
border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-content: center;
text-align: center;
}
.add{
    border-radius: 5px;
    padding: 10px;
    width:auto;
    height: 50px;
    font-size: medium;
    background-color: rgb(132, 66, 66);
    color: white;
    cursor: pointer;
}
.Reset{
    border-radius: 5px;
    padding: 10px;
    width:auto;
    height: 50px;
    font-size: medium;
    background-color: rgb(77, 6, 6);
    color: white;
    cursor: pointer;}
    .buttons{
        display: flex;
        justify-content: space-evenly;
        width: auto;
        gap: 20px;
        padding-top: 30px;
    }
    p{
        width: 300px;
        margin-top: 50px;
        
        height: 40px;
        text-align: center;
        font-size: large;
        border-radius: 5px;
        color: white;

    }
h2{
    text-align: center;
    text-shadow: turquoise;
    padding-top: 30px;
    font-family: sans-serif;
    color: brown;

}
@media (max-width: 425px){
    .main{
        width: 250px;
        height: 250px;
    }
    p{
        width: 250px;
        font-size: medium;
        text-align: center;
        justify-content: center;

    }
    .buttons{
        padding-left: 10px;
        padding-right: 10px;
    }
}